*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
   

header{
    background-color: rgb(119, 125, 177);
}
.container{
    background-color: rgb(187, 255, 255);
    padding: 4%;
    display: grid;
    margin: 10%;
    box-shadow: 10px 10px 10px rgb(71, 65, 77);
}
input{
    width: 100%;
    height: 20%;
}
.containerResult{
    background-color: beige;
}
#name{
    text-align: center;
}
#age{
    text-align: center;

}
main{
    padding: 5%;
    background: linear-gradient(blue, pink);
}
footer{
    background-color: aquamarine;
}